@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap");
.imgLogo {
  height: 8rem;
  width: 8rem;
}

.navbar-nav {
  display: inline-flex;
  flex-direction: column;
  padding-left: 70%;
}

li {
  display: inline-block;
  padding-left: 1%;
  margin-top: -4%;
  position: relative;
}

nav {
  background-color: black;
  height: 18rem;
  width: 100vw;
}

nav a {
  color: white;
}

.dropdown-menu {
  display: block;
}

.imgInicio {
  background-image: url(../imagenes/barra-botellas-exhibidas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 620px;
  width: auto;
}

.imgNosotros {
  width: 70%;
  height: 100%;
  margin-left: 15%;
  filter: grayscale(90%);
}
.imgNosotros:hover {
  filter: grayscale(0%);
}

.contenedorIcon svg {
  width: 30px;
  height: 30px;
  color: white;
  margin-left: 10px;
  margin-top: 5px;
}

main {
  background-color: black;
}

h1 {
  font-size: 40px;
  color: #3E3D3D;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #7e7e7e;
  text-align: center;
}

h3 {
  font-size: 27px;
  color: #7e7e7e;
  text-align: center;
}

img .carImg {
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0.6);
}

.footer1 {
  background-color: black;
  height: 40px;
}

.botonRes {
  display: inline-block;
}

.imgServicio {
  margin-left: 20%;
  height: 60%;
  width: 60%;
}

p {
  text-align: center;
}

.carusel-item {
  background-color: black;
  height: 700px;
}

.carusel-item img {
  height: 20rem;
  max-width: 100%;
  object-fit: contain;
}

.imgCaru {
  justify-content: center;
}

.carContenedor {
  height: 600px;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.contenedor {
  background-image: url(../imagenes/Midnight\ City.jpg);
  height: 800px;
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.control {
  width: 100%;
  background-color: black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #181818;
  font-size: 18px;
}
.control:focus {
  height: 60px;
}

.boton {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, #8d8d8d, #000000);
  font-size: 20px;
}
.boton:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.boton:active {
  transform: translateY(3px);
}

.botonIni {
  width: 190px;
  height: 60px;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 10%;
  border-radius: 4px;
  border: none;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(to left top, #8d8d8d, #000000);
  font-size: 20px;
}
.botonIni:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.botonIni:active {
  transform: translateY(3px);
}

/*# sourceMappingURL=estilo.css.map */
